node-red/flows.json
[
    {
        "id": "8766e8b.0322f18",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1de5ed1.d87b3",
        "type": "OpcUa-Browser",
        "z": "8766e8b.0322f18",
        "endpoint": "b518dafa.d0b068",
        "item": "",
        "datatype": "",
        "topic": "",
        "items": [],
        "x": 510,
        "y": 800,
        "wires": [
            [
                "cece95ca.aaff68"
            ]
        ]
    },
    {
        "id": "cece95ca.aaff68",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "e316bdd8.29cc3",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 800,
        "wires": [
            [
                "c1de5ed1.d87b3"
            ]
        ]
    },
    {
        "id": "7ad1ceae.990f",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "ns=1;s=actuator.status;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "5869a584.04ca6c"
            ]
        ]
    },
    {
        "id": "5869a584.04ca6c",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "b518dafa.d0b068",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 500,
        "y": 860,
        "wires": [
            [
                "94627d6e.1fab9"
            ]
        ]
    },
    {
        "id": "94627d6e.1fab9",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 860,
        "wires": []
    },
    {
        "id": "3945dfeb.637c6",
        "type": "OpcUa-Item",
        "z": "8766e8b.0322f18",
        "item": "ns=1;s=actuator.status",
        "datatype": "Boolean",
        "value": "msg.payload",
        "name": "",
        "x": 500,
        "y": 940,
        "wires": [
            [
                "8a56bf55.b0e8a"
            ]
        ]
    },
    {
        "id": "198eef6a.38a7f1",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 920,
        "wires": [
            [
                "3945dfeb.637c6"
            ]
        ]
    },
    {
        "id": "8a56bf55.b0e8a",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "b518dafa.d0b068",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 720,
        "y": 940,
        "wires": [
            [
                "a293b662.f4cb68"
            ]
        ]
    },
    {
        "id": "a293b662.f4cb68",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 940,
        "wires": []
    },
    {
        "id": "525984f5.e6d98c",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 960,
        "wires": [
            [
                "3945dfeb.637c6"
            ]
        ]
    },
    {
        "id": "354b5e8.3aa94a2",
        "type": "comment",
        "z": "8766e8b.0322f18",
        "name": "Inlet Valve",
        "info": "",
        "x": 300,
        "y": 740,
        "wires": []
    },
    {
        "id": "a3accb7.656f738",
        "type": "OpcUa-Browser",
        "z": "8766e8b.0322f18",
        "endpoint": "38c5e30c.1d4ddc",
        "item": "",
        "datatype": "",
        "topic": "",
        "items": [],
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "662eb683.0b4848"
            ]
        ]
    },
    {
        "id": "662eb683.0b4848",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 1160,
        "wires": []
    },
    {
        "id": "376fff61.e7e79",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 1160,
        "wires": [
            [
                "a3accb7.656f738"
            ]
        ]
    },
    {
        "id": "e7845d6d.a2f3e",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "ns=1;s=actuator.status;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 1220,
        "wires": [
            [
                "c0a58620.dbf338"
            ]
        ]
    },
    {
        "id": "c0a58620.dbf338",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "38c5e30c.1d4ddc",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "a97a731d.0dfd7"
            ]
        ]
    },
    {
        "id": "a97a731d.0dfd7",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 1220,
        "wires": []
    },
    {
        "id": "5edf066e.a2b018",
        "type": "OpcUa-Item",
        "z": "8766e8b.0322f18",
        "item": "ns=1;s=actuator.status",
        "datatype": "Boolean",
        "value": "msg.payload",
        "name": "",
        "x": 500,
        "y": 1300,
        "wires": [
            [
                "483afa40.5f95b4"
            ]
        ]
    },
    {
        "id": "9363ffe.1d2c5",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 1280,
        "wires": [
            [
                "5edf066e.a2b018"
            ]
        ]
    },
    {
        "id": "483afa40.5f95b4",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "38c5e30c.1d4ddc",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 720,
        "y": 1300,
        "wires": [
            [
                "1e4ef6bf.65d8d9"
            ]
        ]
    },
    {
        "id": "1e4ef6bf.65d8d9",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 1300,
        "wires": []
    },
    {
        "id": "aea1adf1.fc72e",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "5edf066e.a2b018"
            ]
        ]
    },
    {
        "id": "54146bca.a2bd44",
        "type": "comment",
        "z": "8766e8b.0322f18",
        "name": "Outlet Valve",
        "info": "",
        "x": 310,
        "y": 1100,
        "wires": []
    },
    {
        "id": "46b88978.d3ab88",
        "type": "modbus-read",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "bd316a62.1af978",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 329,
        "y": 1014,
        "wires": [
            [
                "d26cdd81.ae"
            ],
            []
        ]
    },
    {
        "id": "d26cdd81.ae",
        "type": "function",
        "z": "8766e8b.0322f18",
        "name": "Parse Coil",
        "func": "var status = msg.payload[4]\nmsg.payload = status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 509,
        "y": 1014,
        "wires": [
            [
                "c292a8ac.cad968"
            ]
        ]
    },
    {
        "id": "c292a8ac.cad968",
        "type": "OpcUa-Item",
        "z": "8766e8b.0322f18",
        "item": "ns=1;s=actuator.status",
        "datatype": "Boolean",
        "value": "msg.payload",
        "name": "",
        "x": 679,
        "y": 1014,
        "wires": [
            [
                "478470af.ac972"
            ]
        ]
    },
    {
        "id": "478470af.ac972",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "b518dafa.d0b068",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 859,
        "y": 1014,
        "wires": [
            [
                "3ac78980.676036"
            ]
        ]
    },
    {
        "id": "3ac78980.676036",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1029,
        "y": 1014,
        "wires": []
    },
    {
        "id": "80bdf7fc.7ba308",
        "type": "modbus-read",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "bd316a62.1af978",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 329,
        "y": 1379,
        "wires": [
            [
                "942cd85d.19caa8"
            ],
            []
        ]
    },
    {
        "id": "942cd85d.19caa8",
        "type": "function",
        "z": "8766e8b.0322f18",
        "name": "Parse Coil",
        "func": "var status = msg.payload[5]\nmsg.payload = status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 509,
        "y": 1379,
        "wires": [
            [
                "8d2dc733.ec9828"
            ]
        ]
    },
    {
        "id": "8d2dc733.ec9828",
        "type": "OpcUa-Item",
        "z": "8766e8b.0322f18",
        "item": "ns=1;s=actuator.status",
        "datatype": "Boolean",
        "value": "msg.payload",
        "name": "",
        "x": 679,
        "y": 1379,
        "wires": [
            [
                "90d70114.1b4eb"
            ]
        ]
    },
    {
        "id": "90d70114.1b4eb",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "38c5e30c.1d4ddc",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 859,
        "y": 1379,
        "wires": [
            [
                "538c269d.9a5098"
            ]
        ]
    },
    {
        "id": "538c269d.9a5098",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1029,
        "y": 1379,
        "wires": []
    },
    {
        "id": "2cc1b3e0.092a1c",
        "type": "mqtt in",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "level-high-switch",
        "qos": "2",
        "datatype": "auto",
        "broker": "407a158b.dd424c",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "342b3c97.9901b4"
            ]
        ]
    },
    {
        "id": "342b3c97.9901b4",
        "type": "function",
        "z": "8766e8b.0322f18",
        "name": "Parse Message",
        "func": "var obj = JSON.parse(msg.payload);\nvar status = obj.Messages[0].Payload[\"Sensor Status\"].Body;\nmsg.payload = status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "b7cf8b5e.924148"
            ]
        ]
    },
    {
        "id": "b7cf8b5e.924148",
        "type": "modbus-write",
        "z": "8766e8b.0322f18",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "bd316a62.1af978",
        "x": 720,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d7f9dca8.625b9",
        "type": "comment",
        "z": "8766e8b.0322f18",
        "name": "LeveL High Switch",
        "info": "",
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "3936c8b2.c82808",
        "type": "mqtt in",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "level-low-switch",
        "qos": "2",
        "datatype": "auto",
        "broker": "407a158b.dd424c",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "4e286342.7fd7fc"
            ]
        ]
    },
    {
        "id": "4e286342.7fd7fc",
        "type": "function",
        "z": "8766e8b.0322f18",
        "name": "Parse Message",
        "func": "var obj = JSON.parse(msg.payload);\nvar status = obj.Messages[0].Payload[\"Sensor Status\"].Body;\nmsg.payload = status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 680,
        "wires": [
            [
                "3970289d.a401b8"
            ]
        ]
    },
    {
        "id": "3970289d.a401b8",
        "type": "modbus-write",
        "z": "8766e8b.0322f18",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "bd316a62.1af978",
        "x": 718,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4f2a1271.9599fc",
        "type": "comment",
        "z": "8766e8b.0322f18",
        "name": "LeveL Low Switch",
        "info": "",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "98776ddc.c260a",
        "type": "OpcUa-Browser",
        "z": "8766e8b.0322f18",
        "endpoint": "433f1f7d.a4fd2",
        "item": "",
        "datatype": "",
        "topic": "",
        "items": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "9d2bbe95.5029a"
            ]
        ]
    },
    {
        "id": "9d2bbe95.5029a",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "615e50c8.a3a3c",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "98776ddc.c260a"
            ]
        ]
    },
    {
        "id": "dd9bae43.fee0c",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "ns=1;s=sensor.status;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "602d5dba.71cd64"
            ]
        ]
    },
    {
        "id": "602d5dba.71cd64",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "433f1f7d.a4fd2",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "7d80cb80.ef4ca4"
            ]
        ]
    },
    {
        "id": "7d80cb80.ef4ca4",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "30cd265b.90b02a",
        "type": "OpcUa-Item",
        "z": "8766e8b.0322f18",
        "item": "ns=1;s=sensor.status",
        "datatype": "Boolean",
        "value": "msg.payload",
        "name": "",
        "x": 500,
        "y": 600,
        "wires": [
            [
                "b0ea662d.1986d8"
            ]
        ]
    },
    {
        "id": "96422bb6.897f58",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "30cd265b.90b02a"
            ]
        ]
    },
    {
        "id": "b0ea662d.1986d8",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "433f1f7d.a4fd2",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 720,
        "y": 600,
        "wires": [
            [
                "5f2832f3.a1afec"
            ]
        ]
    },
    {
        "id": "5f2832f3.a1afec",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "2fa97b81.a707d4",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 620,
        "wires": [
            [
                "30cd265b.90b02a"
            ]
        ]
    },
    {
        "id": "1858a4d2.9b532b",
        "type": "OpcUa-Browser",
        "z": "8766e8b.0322f18",
        "endpoint": "ea2c39d2.e838e8",
        "item": "",
        "datatype": "",
        "topic": "",
        "items": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "7f76b691.8f6db8"
            ]
        ]
    },
    {
        "id": "7f76b691.8f6db8",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd262d2.e8b3cd",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "1858a4d2.9b532b"
            ]
        ]
    },
    {
        "id": "e814d531.785d68",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "ns=1;s=sensor.status;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "8b1aaada.2dc318"
            ]
        ]
    },
    {
        "id": "8b1aaada.2dc318",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "ea2c39d2.e838e8",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "af04df98.661ec"
            ]
        ]
    },
    {
        "id": "af04df98.661ec",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "5e6a5af5.8a10c4",
        "type": "OpcUa-Item",
        "z": "8766e8b.0322f18",
        "item": "ns=1;s=sensor.status",
        "datatype": "Boolean",
        "value": "msg.payload",
        "name": "",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "faa6997b.166cf8"
            ]
        ]
    },
    {
        "id": "194469d1.3be3c6",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "5e6a5af5.8a10c4"
            ]
        ]
    },
    {
        "id": "faa6997b.166cf8",
        "type": "OpcUa-Client",
        "z": "8766e8b.0322f18",
        "endpoint": "ea2c39d2.e838e8",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "name": "",
        "x": 720,
        "y": 280,
        "wires": [
            [
                "bafc56b2.82b348"
            ]
        ]
    },
    {
        "id": "bafc56b2.82b348",
        "type": "debug",
        "z": "8766e8b.0322f18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "9eb049be.369c98",
        "type": "inject",
        "z": "8766e8b.0322f18",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "5e6a5af5.8a10c4"
            ]
        ]
    },
    {
        "id": "b518dafa.d0b068",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://inlet-valve:4801",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "38c5e30c.1d4ddc",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://outlet-valve:4801",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "bd316a62.1af978",
        "type": "modbus-client",
        "z": "",
        "name": "openplc",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "openplc",
        "tcpPort": "12345",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "407a158b.dd424c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "433f1f7d.a4fd2",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://level-low-switch:4840",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "ea2c39d2.e838e8",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://level-high-switch:4840",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    }
]